.project-section {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.project-section .text-content .text-comment {
  color: rgb(255, 40, 40);
}

.project-section .btn {
  padding: 10px 20px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.4s ease-in;
}

.check-project {
  margin-top: 30px;
  border-radius: 5px;
}

.project-content a:hover {
  text-decoration: none;
}