.footer-section {
  text-align: center;
  color: #fff;
}

.footer-section .navbar > .container {
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-section .container .footer-contact {
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.footer-section .container .footer-contact .nav-link {
  display: flex;
  align-items: center;
}

.footer-section .container .footer-contact .footer-contact-tag {
  font-size: 18px;
  margin-left: 7px;
}